#top-btn {
    position: absolute;
    bottom: 25px;
    right: 25px;
    background-color: #111;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    color: #fff;
    padding: 2px;
    z-index: 1000;
    text-align: center;
    font-size: 22px;
}
#map {width:100%;height:100vh;}
body {margin:0;padding:0;font-family: 'Roboto Condensed', sans-serif;}
h4, h5, table, p {font-family: 'Roboto Condensed', sans-serif !important;}
p {font-size: 16px;}

.loader {
  width:100%;
  height:100%;
  background-color: #fff;
  padding-top:30px;
  position: absolute;
  top:0;
  left:0;
  z-index: 1500;
}
.loadtext {
  color: #555;
  text-align: center;
}

.sidebar{
  height: 100vh;
  overflow: scroll;
}

#legend {
  background-color: #f9f9f9;
  border: 1px solid #eee;
  padding: 10px;
  margin: 20px 0;
}
#legend .key-item {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #aaa;
}

table {
  margin:20px 0;
  max-width:100%;
  padding:5px;
  font-size:14px;
}
table th, table td {
  border:1px solid #ddd;
  padding:6px;
  text-align: right;
}

.title{
  margin:20px 0;
}
.btn-group {
  margin-bottom: 20px;
}
#kpi {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}
#kpi>div {
    width: 50%;
    margin-bottom: 35px;
}
#kpi>div .value {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 14px;
}
#kpi>div .label {
    color: #000a12;
    font-weight: 700;
}
#kpi #kpi-confirmed {
    color: #f44334;
}
#kpi #kpi-deceased {
    color: #36484f;
}
#kpi #kpi-recovered {
    color: #1876d3;
}
#kpi #kpi-active {
    color: #df0e1f;
}
.ticker_div {
    border-top: 4px solid #ecb444;
	border-bottom: 4px solid #ecb444;
    background-color: rgba(250,240,210,0.5) !important;
    min-height: 434px !important;
}
.heading {
    text-align: center;
}
.heading h3 {
    display: inline-block;
    border-bottom: 2px solid #ff2e00;
    padding-bottom: 5px;
    margin-bottom: 15px !important;
}
.modern-ticker {
	width:100%;
	min-height:35px;
	line-height:30px;
	font-size:16px;
	overflow:hidden;
	padding:0;
	border:thin solid #ccc;
	margin-top:0px;
	position:relative
}
.modern-ticker a {
	text-decoration:none
}
.modern-ticker ul {
	margin:0;
	padding:0;
	list-style:none
}
.mt-round {
	border-radius:7px
}
.mt-body {
	margin:2px;
	position:relative
}
.mt-label {
	margin-right:10px;
	padding:0 8px 0 12px;
	position:absolute;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	z-index:222
}
.mt-label:after {
	content:"";
	position:absolute;
	left:96%;
	top:6px;
	width:0;
	height:0;
	border-top:10px solid transparent;
	border-left:15px solid #f00;
	border-bottom:10px solid transparent
}
.mt-round .mt-label {
	border-radius:5px 0 0 5px
}
.mt-news {
	overflow:hidden;
	position:absolute
}
.mt-scroll .mt-news {
	background-color:transparent
}
.mt-news ul {
	background-repeat:no-repeat;
	background-position:-1000px
}
.mt-news li {
	float:left
}
.mt-round .mt-news:first-child, .mt-round .mt-news:first-child a {
	border-top-left-radius:5px;
	border-bottom-left-radius:5px
}
.mt-round .mt-news:last-child, .mt-round .mt-news:last-child a {
	border-top-right-radius:5px;
	border-bottom-right-radius:5px
}
.mt-news a {
	font-size:15px;
	padding:7px 10px;
	line-height:15px;
}
.mt-news p {
	
	margin-top:-1px;
	
}
.mt-scroll.mt-round .mt-news a {
	border-radius:0
}
.mt-hide {
	display:none
}
.modern-ticker {
	color:#fafafa;
	background-color:#fff
}
.mt-label {
	background-color:#f00
}
.mt-news {
	background-color:#fafafa
}
.mt-news a {
	color:#202020;
	background-color:#dadada;
	border:none
}
.mt-news a:hover {
	color:#fafafa;
	background-color:#2D5BA9;
	border-color:#f20;
	text-decoration:none;
}
.mt-news a:active {
	background-color:#07f
}
.marquee {
    width: 100%;
    margin: -2 auto;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: marquee 30s linear infinite;
    -webkit-animation: marquee 30s linear infinite;
    float:left;
    
}

.marquee:hover {
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
}
/* Dibawah adalah Keyframe Marquee */
@keyframes marquee {
    0%   { text-indent: 27.5em }
    100% { text-indent: -105em }
}
@-webkit-keyframes marquee {
    0%   { text-indent: 27.5em }
    100% { text-indent: -105em }
}


@keyframes ticker {
	0%   {margin-top: 0}
	25%  {margin-top: -200px}
	50%  {margin-top: -300px}
	75%  {margin-top: -500px}
	100% {margin-top: 0}
}
.bg-grass {
	background-color:#A1C436!important
}
.bg-yellow {
    background-color: 
    #FFE300 !important;
}
.bg-wood {
	background-color:#AB7D44!important
}
.bg-pink {
	background-color:#9b59b6
}
.bg-gray {
	color:#000;
	background-color:#C6D5F4!important
}
.bg-black {
	background-color:#111!important
}

.bg-aqua, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body {
	background-color:#14B3B9!important
}
.bg-blue {
	background-color:#008BBB!important
}
.bg-light-blue, .label-primary, .modal-primary .modal-body {
	background-color:#3c8dbc!important
}
.bg-green, .callout.callout-success, .alert-success, .label-success, .modal-success .modal-body {
	background-color:#54bf4b!important
}
.bg-navy {
	background-color:#001f3f!important
}
.bg-teal {
	background-color:#39cccc!important
}
.bg-olive {
	background-color:#3d9970!important
}
.bg-lime {
	background-color:#01ff70!important
}
.bg-orange {
	background-color:#f90!important
}
.bg-fuchsia {
	background-color:#f012be!important
}
.bg-purple {
	background-color:#605ca8!important
}
.bg-maroon {
	background-color:#d81b60!important
}
.bg-red {
	background-color:#ff1200!important
}

.mt-urgent{background-color:#23772d;animation:myanimation 0.5s infinite}
@keyframes myanimation{0%{background-color:#fff}100%{background-color:red}}
.vto {
    float: right;
    /* margin-right: 10px; */
    padding: 0 8px 0 12px;
    /* position: absolute; */
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 222;
    background-color: #23772d;
    margin: 2px;
    position: relative;
}
